/target
/out/
/bin
/src/debug/
/src/test/resources/Krakatau
/src/test/resources/testcases/*.class
/sn/
/libraries/
/samples/*
!/samples/test-resources/
!/samples/test-resources/**
/issues/
.classpath
.project
deobfuscator.iml
/.settings
/.idea
*.iml
*.jar
!lib/**/*.jar
!samples/test-resources/**/*.jar
*.txt
*.ser
*.DS_Store
*.yaml
dependency-reduced-pom.xml
